*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: rgb(104,187,285);
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

#header {

}

#container {
  max-width:1200px;
}

#left-box {
  background-color: rgb(9,30,45);
  float: left;
  width: 30%;
  padding:15px;
  color: rgb(255,255,255);
}

#left-box img {
  width: 100%;
}

#right-box {
  float: left;
  width: 70%;
}

#experiences-box, #studies-box {
  background-color: rgb(255,255,255);
  padding: 15px;
}


#footer {

}
